CREATE DATABASE QuanLyQuanCaFe 
GO
USE [QuanLyQuanCaFe]
GO
/****** Object:  Table [dbo].[ban]    Script Date: 6/22/2022 11:21:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ban](
	[Soban] [int] NOT NULL,
	[Tinhtrang] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Soban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATRUC]    Script Date: 6/22/2022 11:21:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATRUC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ca] [nvarchar](20) NULL,
	[ngaytruc] [datetime] NULL,
	[IDnhanvien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ct_hd]    Script Date: 6/22/2022 11:21:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ct_hd](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[ngayban] [date] NOT NULL,
	[soban] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [float] NOT NULL,
	[ThanhTien] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[douong]    Script Date: 6/22/2022 11:21:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[douong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[tendouong] [nvarchar](30) NOT NULL,
	[ghichu] [nvarchar](30) NOT NULL,
	[Soluong] [int] NOT NULL,
	[giatien] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoadon]    Script Date: 6/22/2022 11:21:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoadon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[soban] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 6/22/2022 11:21:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[MANV] [int],
	[TENHANVIEN] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[DIENTHOAI] [nvarchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thongke]    Script Date: 6/22/2022 11:21:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thongke](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](30) NULL,
	[Soluong] [int] NULL,
	[ngaylap] [date] NULL,
	[doanhthu] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/22/2022 11:21:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Name] [nvarchar](20) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[priority] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [priority]
GO
ALTER TABLE [dbo].[CATRUC]  WITH CHECK ADD FOREIGN KEY([IDnhanvien])
REFERENCES [dbo].[nhanvien] (MANV)
GO
ALTER TABLE [dbo].[ct_hd]  WITH CHECK ADD  CONSTRAINT [Maban] FOREIGN KEY([soban])
REFERENCES [dbo].[ban] ([Soban])
GO
ALTER TABLE [dbo].[ct_hd] CHECK CONSTRAINT [Maban]
GO
ALTER TABLE [dbo].[ct_hd]  WITH CHECK ADD  CONSTRAINT [MaHoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[hoadon] ([ID])
GO
ALTER TABLE [dbo].[ct_hd] CHECK CONSTRAINT [MaHoaDon]
GO
ALTER TABLE [dbo].[ct_hd]  WITH CHECK ADD  CONSTRAINT [MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[douong] ([ID])
GO
ALTER TABLE [dbo].[ct_hd] CHECK CONSTRAINT [MaSP]
GO
ALTER TABLE [dbo].[hoadon]  WITH CHECK ADD  CONSTRAINT [mas] FOREIGN KEY([soban])
REFERENCES [dbo].[ban] ([Soban])
GO
ALTER TABLE [dbo].[hoadon] CHECK CONSTRAINT [mas]
GO
